:root {
  background: linear-gradient(to bottom, #21ABD6, #027397);
  background-color: #21ABD6;
  margin: 0;
  padding: 0;

  --blue-100: #027397;
  --blue-200: #0389B4;
  --blue-300: #21ABD6;
  --blue-400: #52C8ED;

  --white-100: #F9F9F9;
  --white-200: #F4F4F4;
  --white-300: #EDEDED;
  --white-400: #DCDCDC;

  --width: 100vw;
  --height: 100vh;
}


body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

